In [1]:
print("hello")

hello

In [2]:
import pandas as pd

In [3]:
data = pd.read_parquet('YEAR_AND_MONTH=201902.parquet')
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,QUOTE_ASSET_VOLUME,NUMBER_OF_TRADES,TAKER_BUY_BASE_ASSET_VOLUME,TAKER_BUY_QUOTE_ASSET_VOLUME,YEAR_AND_MONTH
OPEN_TIME,,,,,,,,,,
1548979200000,3434.10,3439.50,3430.83,3435.82,123.670606,424864.172010,802,76.844578,264018.061584,201902
1548979500000,3435.82,3440.15,3433.29,3434.33,85.904042,295293.542178,640,51.356914,176563.251047,201902
1548979800000,3434.33,3437.99,3431.40,3434.34,128.085390,439907.092469,711,50.853947,174683.632120,201902
1548980100000,3434.32,3435.95,3428.75,3431.58,134.001998,459892.116000,798,56.420069,193680.593134,201902
1548980400000,3430.16,3434.65,3427.00,3429.39,168.875958,579166.869440,986,106.239867,364341.808602,201902
...,...,...,...,...,...,...,...,...,...,...
1551396900000,3813.45,3815.98,3811.88,3814.92,33.837916,129061.824929,469,19.705625,75167.433298,201902
1551397200000,3814.93,3816.91,3812.58,3815.29,34.274296,130734.358307,492,20.825463,79440.463056,201902
1551397500000,3815.98,3816.91,3813.66,3816.25,38.548717,147072.512116,511,18.467401,70462.523507,201902
1551397800000,3816.21,3818.95,3815.61,3815.66,35.407751,135152.133885,453,18.176975,69383.964780,201902
1551398100000,3815.92,3816.77,3811.49,3813.69,38.781718,147916.267848,497,18.312871,69845.798597,201902